@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/QuizMaster/_LayoutQuizMaster.cshtml";
}

<h2>Edit Game</h2>
<form class="" role="form">
  <div class="form-group">
    <label class="" for="">Naam van het spel</label>
    <input type="text" class="form-control" id="gameName" placeholder="Naam van het nieuwe spel">
  </div>
    <hr />
  <div class="form-group">
    <label class="sr-only" for="">Vraag # </label>
    <input type="text" class="form-control" id="" placeholder="Vraag #">
  </div>
    
    <div class="form-group">
    <label class="sr-only" for="">Antwoord 1 </label>
    <input type="text" class="form-control" id="" placeholder="Antwoord 1">

  </div>
    <div class="form-group">
    <label class="sr-only" for="">Antwoord 2 </label>
    <input type="text" class="form-control" id="" placeholder="Antwoord 2">
  </div>
    <div class="form-group">
    <label class="sr-only" for="">Antwoord 3 </label>
    <input type="text" class="form-control" id="" placeholder="Antwoord 3">
  </div>