@model GymGame.Classes.PlayableQuiz

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/QuizMaster/_LayoutQuizMaster.cshtml";
}


<h2>Edit Game</h2>

<form class="" role="form">
  <div class="form-group">
    <label class="" for="">Naam</label>
    <input type="text" class="form-control" id="gameName" value="@ViewBag.name">
  </div>
    <hr />
    @foreach (var r in Model.playableRounds)
    {
        
        <div class="form-group">
            <label class="sr-only" for="">Ronde:</label>
            <input type="text" class="form-control" id="" value="@r.round.Round_name">
        </div>
         <ul>
        @foreach (var q in r.playableQuestions)
        { 
            <li>
                <div class="form-group">
                    <label class="sr-only" for="">Vraag #</label>
                    <input type="text" class="form-control" id="" value="@q.question.Question_Text">
                </div>
                <ul>
                    @foreach (var a in q.answers) 
                    {
                        <li>
                            <div class="form-group">
                                <label class="sr-only" for="">Vraag:</label>
                                <input type="text" class="form-control" id="" value="@a.Answer_Text">
                                <input type="checkbox" class="form-control" id="" checked="">
                            </div>
                        </li>
                    }

                </ul>

            </li>   
        }
             </ul> 
    }