@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/QuizMaster/_LayoutQuizMaster.cshtml";
}

<h2>Beheer Games</h2>
<form action="~/Views/QuizMaster/Edit" method="get">
<ul>
   
    <li>@ViewBag.allgames
       <button type="submit" class="btn btn-default" onclick="">aanpassen</button>
       <button type="submit" class="btn btn-default">Verwijderen</button>
    </li>
   

</ul>
    </form>