@{
    Layout = "~/Views/QuizMaster/_LayoutQuizMaster.cshtml";
    ViewBag.Title = "New Quiz";
 }

@if (ViewBag.status == "success")
{
    <div>Je quiz werd opgeslagen</div>
}
else
{

<h2>Een nieuw game maken.</h2>
<form role="form" action="~/Quizmaster/New" method="post">
  <div class="form-group">
    <label for="quizName">Naam van het spel</label>
    <input type="text" class="form-control" id="quizName" name="quizName" placeholder="Naam van het nieuwe spel">
      <label for="quizLocation">Locatie</label>
    <input type="text" class="form-control" id="quizLocation" name="gameLocation" placeholder="Locatie van het nieuwe spel">
  </div>
  <hr />

    <div id="vragen">
        <div class="vraag">
            <div class="form-group">
                <label for="question_1">Vraag 1 </label>
                <input type="text" class="form-control" id="question_1" name="question_1" placeholder="Vraag 1">
            </div>
    
            <div class="form-group">
            @for (var i = 0; i < 3; i++)
            {
            <label for="a@(i+1)">Antwoord @(i+1)  </label>
            <input type="text" class="form-control " id="a@(i+1)" name="answer_@(i+1)" placeholder="Antwoord @(i+1)"/>
                <div class="checkbox">
                    <label>   juiste antwoord?
                        <input type="checkbox" name="correctAnswer_@(i+1)" />
                    </label>
               </div>  
            }
            </div> 
        </div>
        <div class="vraag" id="newQuestion">
            <button class="btn" type="button">
                <img src="~/Content/addButton.png" alt="add Button" />
                <strong>Vraag Toevoegen</strong>
            </button>
        </div>
    </div>

    <!-- Opslaan -->
  <button type="submit" class="btn btn-default">Opslaan</button>
</form>


<script>
    $(document).ready( function (){
        var count = 1;
        // wire up Add Item button click event
        $("#newQuestion").click( function(evt)
        {
            addQuestion(evt, count);
        });

        $(".checkbox input").bind("click", function (e) {
            setCheckedColor(e, $(this));
        });
    });

    function addQuestion(event, count) {
        event.preventDefault();
        count++;

        $("#newQuestion").remove();

        var q = [];
        var t1 = ['<div class="vraag">',
            '<div class="form-group">',
            '<label class="" for="">Vraag '+ count +'</label>',
            '<input type="text" class="form-control"',
            'id="question_' + count + '" name="question_' + count + '" placeholder="Vraag ' + count + '" /></div>'
        ];

        q = $.merge(q, t1);

        var t2 = ['<div class="form-group">'];
        q = $.merge(q, t2);

        for (var i = 1; i < 4; i++)
        {
            var t3 = ['<label class="sr-only" for="answer_' + ((count - 1) * 3 + i) + '">Antwoord ' + i + '  </label>',
                  '<input type="text" class="form-control" id="answer_' + ((count - 1) * 3 + i) + '" name="answer_' + ((count - 1) * 3 + i) + '" placeholder="Antwoord ' + i + '"/>',
                  '<div class="checkbox"><label><input type="checkbox" name="correctAnswer_' + ((count - 1) * 3 + i) + '" />   juiste antwoord? </label></div>']
            q = $.merge(q, t3);
        }
        var t4 = ['</div></div>',
            '<div class="vraag" id="newQuestion"> <button class="btn" type="button"> <img src="/Content/addButton.png" alt="add Button" /> </button> </div>'];
        q = $.merge(q, t4);
        $(q.join('')).appendTo('#vragen');
    
        $("#newQuestion").click(function (evt) {
            addQuestion(evt, count);
        });

        $(".checkbox input").unbind("click");
        $(".checkbox input").click(function (e) {
            setCheckedColor(e, $(this))
        });

        return (false);
    };

    function setCheckedColor(event, source) {
        alert("ok");
    };

</script>
}