@{
    ViewBag.Title = "Index";
}

<h2>Game Home</h2>
<h3>Hello, @ViewBag.username</h3>
<h3> Begin spel: @ViewBag.id</h3>

<!-- ajaxcall om eerste vraag op te halen -->
<a href="#">START</a>

<div id="questions">
<p id="q1">Wat is een media querie?</p>
<ol>
<li><a href="#" id="a1">Een kitten</a></li>
<li><a href="#" id="a2">Een Puppie</a</li>
<li><a href="#" id="a3">Een fuctie om in css responsive te bouwen</a></li>
    </ol>
<br />

</div>

<a href="#" id="nxtQ" >Volgende vraag</a>
