@model GymGame.Classes.PlayableQuiz
@{
    Layout = "~/Views/Game/_LayoutGame.cshtml";
    ViewBag.Title = "Quiz spelen";
}

@if (ViewBag.status != "error" && Model.quiz.active != 0)
{
    
<h2>@Model.quiz.name</h2>

<!-- ajaxcall om eerste vraag op te halen -->
    int inactiveRounds = 0;
    foreach (var playableRound in Model.playableRounds)
    {
        if(playableRound.isActive)
        {
            
            <h3>@playableRound.round.Round_name</h3>
            <a href="#" class="btn btn-success" id="startButton">START</a>

                <ul class="questions">
                    @foreach (var playableQuestion in playableRound.playableQuestions)
                    {
                        <li class="question">
                            <div class="questionText">@playableQuestion.question.Question_Text</div>
                            @foreach (var answer in playableQuestion.answers)
                            {
                                <a href="#" class="answer btn btn-default">@answer.Answer_Text</a>
                            }
                            <a href="#" class="nextQuestion btn btn-success">Volgende vraag</a>
                        </li>
                    }
                </ul>
            <a href="#" class="btn btn-success" id="resultButton">RESULTATEN</a>
        }
        else
        {
            inactiveRounds++;
        }
    }
    <script>
        $(document).ready(function () {
            //do this also in css!
            $(".question").hide();
            $("#resultButton").hide();
            $("#startButton").click(function(){
                $(".question").first().addClass('activeQuestion').show();
                $(this).hide();
            });
            $("a.nextQuestion").click(function () {
                //do the ajax call

                //show next question
                var toShow = $('.activeQuestion').next().length > 0 ? $('.activeQuestion').next() : $('#resultButton').show();
                $('.activeQuestion').hide();
                $('.activeQuestion').removeClass('activeQuestion');
                toShow.addClass('activeQuestion');
                $('.activeQuestion').show();
            });
            $("a.answer").click(function () {
                //check if this is the only selected answer first
                $(this).removeClass('btn-default');
                $(this).addClass('btn-info');
                $(this).addClass('selectedAnswer');
            });
        });
    </script>
    if (inactiveRounds == Model.playableRounds.Count)
    {
    <div>Er zijn momenteel geen rondes actief...</div>
    }

}
else
{
    <p>We konden geen quiz vinden...</p>
    <form action="~/game/search/" method="get">
        <label for="quizCode">Quiz: </label>
        <input type="text" id="quizCode" name="quizCode" />
        <input type="submit" value="quiz zoeken" />
    </form>
}
