@model GymGame.Classes.PlayableQuiz
@{
    ViewBag.Title = "Quiz spelen";
}

@if (ViewBag.status != "error" && Model.quiz.active != 0)
{
    
<h4>@Model.quiz.name</h4>

<!-- ajaxcall om eerste vraag op te halen -->
<a href="#">START</a>

<ul>
    @foreach (var playableRound in Model.playableRounds)
    {
        <li>
            @playableRound.round.Round_name
            
            <ul>
                @foreach (var playableQuestion in playableRound.playableQuestions)
                {
                    <div id="questions">
                    <li>

                        @playableQuestion.question.Question_Text
                        <ul>
                            @foreach (var answer in playableQuestion.answers)
                            {
                                <li>
                                    @answer.Answer_Text
                                </li>
                            }
                        </ul>
                    </li>
                    </div>
                }
            </ul>
        </li>
    }
</ul>

}
else
{
    <p>We konden geen quiz vinden...</p>
    <form>
        <label for="quizCode">Quiz: </label>
        <input type="text" id="quizCode" name="quizCode" />
        <input type="submit" name="submit" value="quiz zoeken" />
    </form>
}