@model GymGame.Classes.PlayableQuiz
@{
    Layout = "~/Views/Game/_LayoutGame.cshtml";
    ViewBag.Title = "Quiz spelen";
}

@if (ViewBag.status != "error" && Model.quiz.active != 0)
{
    
<h2>@Model.quiz.name</h2>

<!-- ajaxcall om eerste vraag op te halen -->
    int inactiveRounds = 0;
    foreach (var playableRound in Model.playableRounds)
    {
        if(playableRound.isActive)
        {
            
<a href="#" class="btn btn-success" >START</a>
        
            <h3>@playableRound.round.Round_name</h3>
                <div class="questions">
                    @foreach (var playableQuestion in playableRound.playableQuestions)
                    {
                        <div class="question">
                            <div class="questionText">@playableQuestion.question.Question_Text</div>
                            @foreach (var answer in playableQuestion.answers)
                            {
                                <a href="#" class="answer btn btn-default">@answer.Answer_Text</a>
                            }
                        </div>
                    }
                </div>
        }
        else
        {
            inactiveRounds++;
        }
    }
if(inactiveRounds == Model.playableRounds.Count)
{
    <div>Er zijn momenteel geen rondes actief...</div>
}

}
else
{
    <p>We konden geen quiz vinden...</p>
    <form>
        <label for="quizCode">Quiz: </label>
        <input type="text" id="quizCode" name="quizCode" />
        <input type="submit" name="submit" value="quiz zoeken" />
    </form>
}
