@model List<GymGame.Classes.Leader>
@{
    ViewBag.Title = "Resultaten Quiz";
    Layout = "~/Views/LeaderBoard/_LayoutLeaderBoard.cshtml";
}

<h2>Resultaten @ViewBag.quizName</h2>
<div class="table-responsive">
    <table class="table table-bordered">
        <tbody>
            <tr><th>Speler</th><th>Score</th></tr>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr><td><a href="https://www.facebook.com/@Model[i].user.FB_UserId">@Model[i].user.Firstname</a></td><td>@Model[i].score%</td></tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        setInterval(function () {
            location.reload();
        }, 5000);
    });
</script>
