body {
    margin-top: 2%;
}

.container {
    text-align:center
}

.questionText {
    text-align: center;
}

.answer, .nextQuestion {
    text-align:center;
    width: 200px;
    display: block;
    margin: 10px auto;
}

.table {
    width: 60%;
    min-width: 350px;
    margin: 10px auto;
}

/* Stijl voor quizmaster/start */
.duration {
    width: 12em;
}

.duration input {
    width: 2em;
}

.startButton {
    width: 10em;
}
/* Einde stijl voor quizmaster/start */