body {
    margin-top: 2%;
}

.container {
    text-align:center
}

.questionText {
    text-align: center;
}

.answer, .nextQuestion {
    text-align:center;
    width: 200px;
    display: block;
    margin: 10px auto;
}

.table {
    width: 60%;
    min-width: 350px;
    margin: 10px auto;
}

/* Stijl voor quizmaster/start */
.duration {
    width: 12em;
}

.duration input {
    width: 2em;
}

.startButton {
    width: 10em;
}
/* Einde stijl voor quizmaster/start */

/* stijl voor quizmaster/new */
.vragen {
    overflow-x: auto;
}

.vraag {
    border: 1px solid #dedede;
    border-radius: 4px;
    background-color: #efefef;
    width: 30%;
    display: inline-block;
    margin: 1em;
    padding: 1em;
    overflow-x: auto;
}

#newQuestion {
    max-width: 30% !important;
    height: 100% !important;
    padding: 0px 0px;
}

#newQuestion .btn {
    width: 100%;
    padding: 5em 0px;
    background-color: none !important;
}

#newQuestion img {
    width: 12,5em;
}

#newQuestion strong {
    display: block;
    color: #cdcdcd;
}

.answerSection {
    text-align: left;
}

.has-success input {
    background-color: rgba(70, 136, 71, 0.1);
}

.form-group input {
    color: black;
    font-weight: 575;
}
/* einde stijl voor quizmaster/new */